[wp]

listen = /tmp/wp_php.sock
listen.backlog = -1
listen.allowed_clients = 127.0.0.1
listen.owner = www-data
listen.group = www-data
listen.mode = 0666
user = www-data
group = www-data
pm = dynamic
pm.max_children = {{ wp_php_max_children }}
pm.start_servers = {{ wp_php_start_servers }}
pm.min_spare_servers = {{ wp_php_min_spare_servers }}
pm.max_spare_servers = {{ wp_php_max_spare_servers }}
pm.max_requests = {{ wp_php_max_requests }}
ping.response = pong
request_terminate_timeout = 0
request_slowlog_timeout = 0
slowlog = /var/log/php-fpm/wp-slow.log
catch_workers_output = no
php_admin_value[error_log] = /var/log/wp-error.log
php_admin_flag[log_errors] = on
php_admin_value[upload_max_filesize] = 500M
