<?php

define('WP_HOME', 'http://{{ frontend_hostname }}/info');
define('WP_SITEURL', 'http://{{ frontend_hostname }}/info');

/** The name of the database for WordPress */
define('DB_NAME', 'dpla_wp');

/** MySQL database username */
define('DB_USER', 'dpla_wordpress');

/** MySQL database password */
{% for u in mysql_users if u.name == "dpla_wordpress" %}
define('DB_PASSWORD', '{{ u.password }}');
{% endfor %}

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

define('COOKIEPATH', '/info/');
define('SITECOOKIEPATH', '/info/');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY', '{{ wp_auth_key }}');
define('SECURE_AUTH_KEY', '{{ wp_secure_auth_key }}');
define('LOGGED_IN_KEY', '{{ wp_logged_in_key }}');
define('NONCE_KEY', '{{ wp_nonce_key }}');
define('AUTH_SALT', '{{ wp_auth_salt }}');
define('SECURE_AUTH_SALT', '{{ wp_secure_auth_salt }}');
define('LOGGED_IN_SALT', '{{ wp_logged_in_salt }}');
define('NONCE_SALT', '{{ wp_nonce_salt }}');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
define('WPLANG', '');

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
{% set debug_value = 'true' if webapp_debug == true else 'false' %}
define('WP_DEBUG', {{ debug_value }});
define('WP_DEBUG_LOG', {{ debug_value }});
define('WP_DEBUG_DISPLAY', {{ debug_value }});

define('DPLA_API_KEY', '{{ api_key }}');
define('DPLA_FRONTEND_URL', 'http://{{ frontend_hostname }}');
define('DPLA_API_URL', 'http://{{ api_hostname }}/v2');


/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
