
1 3 * * * postgres ts=`date +'\%Y-\%m-\%d'`; fn="{{ pg_backups_basedir }}/postgresql/api_$ts.sql"; pg_dump -c api > $fn
3 3 * * * postgres ts=`date +'\%Y-\%m-\%d'`; fn="{{ pg_backups_basedir }}/postgresql/postgres_$ts.sql"; pg_dump -c postgres > $fn
10 3 * * * postgres find {{ pg_backups_basedir }}/postgresql -type f -mtime +{{ pg_backup_keep_days }} -exec rm {} \\;
