
1 3 * * * postgres ts=`date +'\%Y-\%m-\%d'`; fn="/backups/postgresql/api_$ts.sql"; pg_dump -c api > $fn
2 3 * * * postgres ts=`date +'\%Y-\%m-\%d'`; fn="/backups/postgresql/dpla_portal_$ts.sql"; pg_dump -c dpla_portal > $fn
3 3 * * * postgres ts=`date +'\%Y-\%m-\%d'`; fn="/backups/postgresql/postgres_$ts.sql"; pg_dump -c postgres > $fn
5 3 * * * postgres find /backups/postgresql -type f -mtime +{{ pg_backup_keep_days }} -exec rm {} \\;
