/var/log/postgresql/*.log {
       {{ pg_log_rotation_interval }}
       rotate {{ pg_log_rotation_count }}
       copytruncate
       delaycompress
       compress
       notifempty
       missingok
}
