
{% if api_alternate_db_host %}
{%     set db_host = api_alternate_db_host %}
{% else %}
{%     set db_host = groups['postgresql_dbs'][0] %}
{% endif %}

{# The "test" environment is not used yet. #}
test:
  adapter: postgresql
  encoding: unicode
  host: {{ db_host }}
  database: api_test
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  port: 5432

development:
  adapter: postgresql
  encoding: unicode
  host: {{ db_host }}
  database: api
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  port: 5432

production:
  adapter: postgresql
  encoding: unicode
  host: {{ db_host }}
  database: api
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  port: 5432
