#!/bin/bash
### BEGIN INIT INFO
# Provides: delayed_job_api
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start/stop API's delayed job queue
# Description: Start API's delayed job queue
### END INIT INFO

set -u
set -e

USERNAME="api"
APP_NAME="api"
APP_ROOT="/srv/www/api"
CONTROL_SCRIPT="/usr/local/sbin/delayed_job_api.sh"

usage() {
    echo >&2 "Usage: $0 <start|stop|usage>"
}

start() {
    if [ "$(whoami)" != "$USERNAME" ]; then
        su - $USERNAME -c "$CONTROL_SCRIPT start"
    else
        bash -lc "$CONTROL_SCRIPT start"
    fi
}

stop() {
    if [ "$(whoami)" != "$USERNAME" ]; then
        su - $USERNAME -c "$CONTROL_SCRIPT stop"
    else
        bash -lc "$CONTROL_SCRIPT stop"
    fi
}

case $1 in
start)
    start
    ;;
stop)
    stop
    ;;
restart)
    stop
    start
    ;;
usage)
    usage
    exit 0
    ;;
*)
    usage
    exit 1
    ;;
esac
