/srv/www/api/var/log/elasticsearch-{{ api_rails_env }}.log
/srv/www/api/var/log/{{ api_rails_env }}.log
/srv/www/api/var/log/unicorn.stderr.log
/srv/www/api/var/log/unicorn.stdout.log
{
    daily
    missingok
    rotate 60
    compress
    delaycompress
    dateext
    notifempty
    create 0644 api api
    sharedscripts
    postrotate
        service unicorn_api reload
    endscript
}

/srv/www/api/var/log/delayed_job.log
{
    weekly
    missingok
    rotate 8
    delaycompress
    dateext
    notifempty
    create 0644 api api
    sharedscripts
    postrotate
        service unicorn_api reload
    endscript
}
