
upstream api_app_server {
    server unix:/srv/www/api/tmp/unicorn_api.sock fail_timeout=0;
}

server {

    listen {{ api_app_port }};

    server_name {{ api_hostname }};

    location / {
        try_files $uri $uri/index.html @api_app_server;
    }

    location /items {
        proxy_pass http://api_app_server/v2/items;
    }

    location /collections {
        proxy_pass http://api_app_server/v2/collections;
    }

{% if api_enable_contentqa %}
    location /qa {
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/qa_htpasswd;
        try_files $uri $uri/index.html @api_app_server;
    }
{% endif %}

    location @api_app_server {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://api_app_server;
        proxy_pass_header Set-Cookie;
    }

}
