
global
	daemon
	maxconn 1000

defaults
	mode http
	log global
	option httplog
	option dontlognull
	option redispatch
	option forwardfor
	retries 3
	balance roundrobin
	timeout connect 5s
	timeout client 50s
	timeout server 5m

{% if ingestion2 is not defined %}

### Bigcouch

frontend bigcouch-chttpd-in
	bind *:5984
	default_backend bigcouch-chttpd

frontend bigcouch-httpd-in
	bind *:5986
	default_backend bigcouch-httpd

backend bigcouch-chttpd
	server dbnode1 192.168.50.4:5984 maxconn 500
	server dbnode2 192.168.50.5:5984 maxconn 500

backend bigcouch-httpd
	server dbnode1 192.168.50.4:5986 maxconn 500
	server dbnode2 192.168.50.5:5986 maxconn 500

{% endif %}

### Web

frontend web-http-in
	bind *:80
	default_backend web-http

frontend web-https-in
	bind *:443 ssl crt /etc/ssl/certs/local.dp.la.pem
	mode http
	reqadd X-Forwarded-Proto:\ https
	default_backend web-http

backend web-http
{% if ingestion2 is not defined %}
	server webapp1 192.168.50.6:{{ siteproxy_port }} maxconn 500
{% else %}
	server dev1 192.168.50.7:{{ siteproxy_port }} maxconn 500
{% endif %}


### Elasticsearch

frontend elasticsearch-in
    bind *:9201
    default_backend elasticsearch

backend elasticsearch
{% if ingestion2 is not defined %}
    server dbnode1 192.168.50.4:9200 maxconn 500
    server dbnode2 192.168.50.4:9200 maxconn 500
{% else %}
    server dev1 192.168.50.7:9200 maxconn 500
{% endif %}

### API

frontend api-http-in
{% if default_http_scheme == 'https' %}
	bind *:{{ api_port }} ssl crt /etc/ssl/certs/local.dp.la.pem
	reqadd X-Forwarded-Proto:\ https
{% else %}
	bind *:{{ api_port }}
{% endif %}
	mode http
	default_backend api-http

backend api-http
	{% set apihost = groups['api'][0] %}
	server {{ apihost }} {{ hostvars[apihost][internal_network_interface]['ipv4']['address']}}:{{ api_app_port }}

