
[admins]
{{ bigcouch_admin_name }} = {{ bigcouch_admin_password }}

[couch_httpd_auth]
secret = {{ couch_httpd_auth_secret }}

[chttpd]
; Options for the MochiWeb HTTP server.
server_options = [{backlog, 128}, {acceptor_pool_size, 16}]
; For more socket options, consult Erlang's module 'inet' man page.
socket_options = [{recbuf, 262144}, {sndbuf, 262144}, {nodelay, true}]

[httpd]
; bind_address = 0.0.0.0
bind_address = {{ hostvars[hostname]['ansible_eth1']['ipv4']['address'] }}

[query_servers]
javascript = /opt/bigcouch/bin/couchjs -S 16384 /opt/bigcouch/share/couchjs/main.js

[couchdb]
os_process_timeout = 20000  ; 20 sec
