
# Example Vagrantfile.
#
# Copy this to `Vagrantfile' and edit to suit your needs.
#
# Please note the synced_folder directives.  If you want to be able
# to edit files locally (outside of the VM, in your host environment)
# and have them synced with the VMs, then change these directives to
# reference them. 
#
# At the moment, all of the VMs below are necessary, but this could
# change in the future.

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
    # Use the default insecure_private_key so ansible doesn't need to 
    # know about all the generated ones.
    config.ssh.insert_key = false

    # BigCouch (Ubuntu 14.04)
    config.vm.define :dbnode1 do |dbnode1|
        dbnode1.vm.box = "ubuntu/trusty64"
        dbnode1.vm.network :private_network, ip: "192.168.50.4"
        dbnode1.vm.provider "virtualbox" do |vb|
            vb.memory = 512
        end
    end

    # Elasticsearch (Ubuntu 16.04)
    config.vm.define :es do |es|
        es.vm.box = "bento/ubuntu-16.04"
        es.vm.network :private_network, ip: "192.168.50.50"
        es.vm.provider "virtualbox" do |vb|
            vb.memory = 1024
        end
    end

    # Loadbalancer for development.
    # Necessary in all cases.
    config.vm.define :loadbal do |loadbal|
        loadbal.vm.box = "ubuntu/trusty64"
        loadbal.vm.network :private_network, ip: "192.168.50.2"
        loadbal.vm.provider "virtualbox" do |vb|
            vb.memory = 307
        end
    end

    # Web application server for development.
    # (All relevant web apps on one host.  Which web apps depends on
    # which playbook you run.)
    # Necessary in all cases.
    config.vm.define :webapp1 do |webapp|
        webapp.vm.box = "ubuntu/trusty64"
        webapp.vm.network :private_network, ip: "192.168.50.6"
        webapp.vm.provider "virtualbox" do |vb|
            vb.memory = 1536
        end
        # EDIT THESE FOR LOCAL DEPLOYMENT
        # webapp.vm.synced_folder "../platform", "/api_dev"
        # webapp.vm.synced_folder "../primary-source-sets", "/pss_dev"
    end

end
