
# Example Vagrantfile.
#
# Copy this to `Vagrantfile' and edit to suit your needs.
#
# Please note the synced_folder directives.  If you want to be able
# to edit files locally (outside of the VM, in your host environment)
# and have them synced with the VMs, then change these directives to
# reference them. 
#
# At the moment, all of the VMs below are necessary, but this could
# change in the future.

VAGRANTFILE_API_VERSION = "2"

dbnodes = {
	'dbnode1' => '192.168.50.4',
	'dbnode2' => '192.168.50.5'
}

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

	# All boxes are hashicorp/precise64, which is Ubuntu 12.04 LTS

    # BigCouch and ElasticSearch servers.
    # Necessary in all cases.
    dbnodes.keys.each do |hostname|
	    config.vm.define hostname do |dbnode|
	        dbnode.vm.box = "hashicorp/precise64"
	        dbnode.vm.network :private_network, ip: dbnodes[hostname]
	        dbnode.vm.provider "virtualbox" do |vb|
	            vb.memory = 1024
	        end
	    end
    end

    # Loadbalancer for development.
    # Necessary in all cases.
    config.vm.define :loadbal do |loadbal|
        loadbal.vm.box = "hashicorp/precise64"
        loadbal.vm.network :private_network, ip: "192.168.50.2"
        loadbal.vm.provider "virtualbox" do |vb|
            vb.memory = 256
        end
    end

    # Web application server for development.
    # (All relevant web apps on one host.  Which web apps depends on
    # which playbook you run.)
    # Necessary in all cases.
    config.vm.define :webapp1 do |webapp|
        webapp.vm.box = "hashicorp/precise64"
        webapp.vm.network :private_network, ip: "192.168.50.6"
        webapp.vm.provider "virtualbox" do |vb|
            vb.memory = 768
        end
        #
        # *** EDIT THESE FOR LOCAL DEVELOPMENT ***
        # Change the path to the synced local directory, if necessary,
        # but don't modify the mount point.
        # webapp.vm.synced_folder "../frontend", "/frontend_dev"
        # webapp.vm.synced_folder "../platform", "/api_dev"
        # webapp.vm.synced_folder "../frontend-wp", "/wordpress_dev"
    end

end
