
{% if frontend_alternate_db_host %}
{%     set db_host = frontend_alternate_db_host %}
{% else %}
{%     set db_host = groups['postgresql_dbs'][0] %}
{% endif %}

{# The "test" environment is not used yet. #}
test:
  adapter: postgresql
  host: {{ db_host }}
  port: 5432
  database: dpla_portal_test
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  encoding: unicode

development:
  adapter: postgresql
  host: {{ db_host }}
  port: 5432
  database: dpla_portal
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  encoding: unicode

production:
  adapter: postgresql
  host: {{ db_host }}
  port: 5432
  database: dpla_portal
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  encoding: unicode
