/srv/www/frontend/log/{{ frontend_rails_env }}.log
/srv/www/frontend/log/unicorn.stderr.log
/srv/www/frontend/log/unicorn.stdout.log
{
    daily
    missingok
    rotate 60
    compress
    delaycompress
    dateext
    notifempty
    create 0644 frontend frontend
    sharedscripts
    postrotate
        service unicorn_frontend reload
    endscript

}