# Used for generation links in emails
url:
  host: {{ frontend_hostname }}
  port: 80
# Email notifications to users sent from
notifications:
  from: {{ email_notifications_from }}
# DPLA API URL and credentials
api:
  # Without trailing slash, please
  url: http://{{ api_hostname }}:{{ api_port }}/v2
  # API key, will be added to all API requests as &api_key=
  key: {{ api_key }}
exhibitions:
  # Omeka exhibition site address. Used for generating link
  site: http://{{ frontend_hostname }}/exhibitions
  # Elasticsearch instance for searching exhibitions
  elasticsearch:
    host: http://ignore-me:9200
    default_index: omeka
wordpress:
  # Wordpress site for building links to pages served by WP
  site: http://{{ frontend_hostname }}/info
# Google Analytics account
googleanalytics:
  tracker: {{ google_analytics_property_id }}
# Sessions settings
session:
  # Name of cookie indicator is user signed in or not
  # Userful for serving cached pages for guest users
  logged_in_flag: _dpla_no_cache
  # Store settings. cookie_store and dalli_store are available
  store: dalli_store
  key: _dpla_frontend
  # Settings for memcache sessions
  dalli_store:
    memcache_server:
{% for h in groups['memcached'] %}
      - {{ hostvars[h][internal_network_interface]['ipv4']['address'] }}
{% endfor %}

widgets:
  twitter_username: {{ twitter_username }}
  twitter_widget_id: {{ twitter_widget_id }}
  # URL of wordpress site.
  # NOTE: JSON API plugin is required to able read Wordpress feed as JSONP requests
  wordpress_json_api: http://{{ frontend_hostname }}/info
  wordpress_view_all_link: http://{{ frontend_hostname }}/info/news/
  # Urls for social icons
  social_icons:
    facebook: https://www.facebook.com/{{ facebook_account_name }}
    twitter: https://twitter.com/{{ twitter_username }}
    tumblr: http://{{ tumblr_account_name }}.tumblr.com/
    rss: http://{{ frontend_hostname }}/info/feed
