{% if pss_alternate_db_host %}
{%     set db_host = pss_alternate_db_host %}
{% else %}
{%     set db_host = groups['postgresql_dbs'][0] %}
{% endif %}

test:
  adapter: postgresql
  host: {{ db_host }}
  port: 5432
  database: pss_test
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  encoding: unicode

development:
  adapter: postgresql
  host: {{ db_host }}
  port: 5432
  database: pss
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  encoding: unicode

production:
  adapter: postgresql
  host: {{ db_host }}
  port: 5432
  database: pss
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  encoding: unicode
