
upstream pss_app_server {
    server unix:/srv/www/pss/tmp/unicorn_pss.sock fail_timeout=0;
}

server {

    listen {{ pss_app_port }};

    server_name {{ pss_hostname }};

    # To accommodate large file uploads:
    client_max_body_size 500m;

    location /primary-source-sets {
        root /srv/www/pss/public;
        try_files $uri $uri/index.html @pss_app_server;
    }

    location /primary-source-sets/ {
        alias /srv/www/pss/public/;
        try_files $uri $uri/index.html @pss_app_server;
    }

    location @pss_app_server {
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://pss_app_server;
        proxy_pass_header Set-Cookie;
    }

    error_page 404 /srv/www/pss/public/404.html;
    error_page 422 /srv/www/pss/public/422.html;
    error_page 500 /srv/www/pss/public/500.html;

}
