#!/bin/bash

USERNAME="dpla"
APP_ROOT="/srv/www/pss"
ENV={{ rails_env }}
UNICORN_OPTS="-D -E $ENV -c $APP_ROOT/config/unicorn.rb"

export RBENV_VERSION="{{ pss_rbenv_version }}"
export RBENV_SHELL=bash
export PATH=/home/$USERNAME/.rbenv/shims:$PATH
cd $APP_ROOT
/home/$USERNAME/.rbenv/libexec/rbenv-sh-rehash 2>/dev/null
bundle exec unicorn $UNICORN_OPTS
