
{% if ingestion_app_alternate_db_host %}
{%     set db_host = ingestion_app_alternate_db_host %}
{% else %}
{%     set db_host = groups['postgresql_dbs'][0] %}
{% endif %}

test:
  adapter: postgresql
  encoding: unicode
  host: {{ db_host }}
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: db/test.sqlite3

development:
  adapter: postgresql
  encoding: unicode
  host: {{ db_host }}
  database: ingestion
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  port: 5432

production:
  adapter: postgresql
  encoding: unicode
  host: {{ db_host }}
  database: ingestion
  username: {{ postgresql_user['name'] }}
  password: {{ postgresql_user['password'] }}
  port: 5432
