#!/bin/bash
### BEGIN INIT INFO
# Provides: god_heidrun
# Required-Start: $all
# Required-Stop: $network $local_fs $syslog
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start/stop Heidrun god
# Description: Start/stop Heidrun god (worker process manager)
### END INIT INFO

set -u
set -e

. /lib/lsb/init-functions

APP_NAME=""
APP_ROOT="/opt/heidrun"

god=/usr/local/bin/god

usage() {
    echo >&2 "Usage: $0 <start|stop|restart|reload|force-stop|status|usage>"
}

start() {
    $god -c /etc/heidrun.god
}
terminate() {
    # stop god and all processes
    # By default, god will stop workers by trying a SIGTERM, then waiting for
    # 10 seconds, then sending a SIGKILL.
    # See heidrun.god for the signal that will actually be tried first.
    $god terminate
}

case $1 in
start)
    start
    ;;
stop)
    terminate
    ;;
restart|reload)
    terminate && start
    ;;
status)
    god status
    ;;
usage)
    usage
    exit 0
    ;;
*)
    usage
    exit 1
    ;;
esac
