/opt/heidrun/log/{{ ingestion_app_rails_env }}.log
/opt/heidrun/log/unicorn.stderr.log
/opt/heidrun/log/unicorn.stdout.log
{
    daily
    missingok
    rotate 60
    compress
    delaycompress
    dateext
    notifempty
    create 0644 dpla dpla
    sharedscripts
    postrotate
        service unicorn_heidrun reload
    endscript
}

/opt/heidrun/log/worker.log
{
    daily
    missingok
    rotate 60
    compress
    delaycompress
    dateext
    notifempty
    copytruncate
}
