---

distance_threshold: {{ ingestion_app_geo_dist_thresh }}
max_intepretations: {{ ingestion_app_geo_maxint }}
{% if 'geocoder' in groups %}
{%     set geohost = groups['geocoder'] | first %}
{% else %}
{%     set geohost = ingestion_app_geo_host %}
{% endif %}
twofishes_host: {{ geohost }}
twofishes_port: 8080
twofishes_timeout: {{ ingestion_app_geo_timeout }}
twofishes_retries: {{ ingestion_app_geo_retries }}
