
{# for now, we just assume that there is one Solr server #}
{% set solr_host = groups['solr'][0] %}

development:
    url: "http://{{ solr_host }}:8080/solr"
test:
    url: "http://{{ solr_host }}:8080/solr"
production:
    url: "http://{{ solr_host }}:8080/solr"
