#!/bin/bash

USERNAME="dpla"
APP_ROOT="/opt/heidrun"
UNICORN_OPTS="-D -E {{ rails_env }} -c $APP_ROOT/config/unicorn.rb"

export RBENV_VERSION="{{ ingestion_rbenv_version }}"
export RBENV_SHELL=bash
export PATH=/home/$USERNAME/.rbenv/shims:$PATH
cd $APP_ROOT
/home/$USERNAME/.rbenv/libexec/rbenv-sh-rehash 2>/dev/null
bundle exec unicorn $UNICORN_OPTS
