#!/bin/bash
### BEGIN INIT INFO
# Provides: thumbp
# Required-Start: $all
# Required-Stop: $network $local_fs $syslog
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start/stop thumbp
# Description: Start/stop thumbp
### END INIT INFO

set -u
set -e

. /lib/lsb/init-functions

# Make sure that thumbp is started with the system locale.
. /etc/default/locale

export LANG
export NVM_DIR=/opt/thumbp/.nvm

THUMBP_ROOT=/opt/thumbp/thumbp
PIDFILE=/var/run/thumbp/thumbp.pid
LOGDIR=/var/log/thumbp
USER=thumbp
ES_BASE=http://{{ es_cluster_loadbal }}/dpla_alias/item
LISTEN_PORT={{ thumbp_port }}
cmd="node $THUMBP_ROOT/thumbp.js $ES_BASE $LISTEN_PORT"

usage() {
    echo >&2 "Usage: $0 <start|stop|restart|reload|status|usage>"
}

start() {
    log_daemon_msg "Starting thumbp" "thumbp"
    start-stop-daemon --start --quiet --chuid $USER \
        --pidfile $PIDFILE --make-pidfile --background \
        --startas /bin/bash \
        -- -c ". $NVM_DIR/nvm.sh && exec $cmd >> $LOGDIR/thumbp.log 2>&1"
    log_end_msg $?
}

stop() {
    log_daemon_msg "Stopping thumbp" "thumbp"
    start-stop-daemon --stop --quiet --oknodo --pidfile $PIDFILE -R 4
    log_end_msg $?
    rm -f $PIDFILE
}

case $1 in
start)
    start
    ;;
stop)
    stop
    ;;
restart|reload)
    # TODO: Is this the right sleep time for the Node.js rewrite of thumbp?
    stop && sleep 6 && start
    ;;
status)
    status_of_proc -p $PIDFILE node thumbp.js
    ;;
usage)
    usage
    exit 0
    ;;
*)
    usage
    exit 1
    ;;
esac
