
adminusers:
    - username: alice
      gecos: "Alice Ersatz"
      ssh_authorized_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCr5uEznUNfuRB/zqwZa+3h4hR72rY5EXCo6mGooVNhPMdwFscrETQ21LiKs81Ld+H9zLlZpIbLhsK/DbFBJy0MAsk4CTOd0cb6fOR0JM8+OTINCEQ1krxFWc2Uj49tUazXt2n3F1tAtvRLfcjLASXfcyUX3HuJx8KpLyLu9gyEAiDxT67tM/IOjyWv+OQRm6BmHL+N3VLG92Y08cfM5hXxa9z3IEOWJRevkHkzhju/LmAzOEaq+lDTTcotzNrcZ5iRgpR/1GNhl/K899Lp5OpYzJwiy4ao7k2LLyS45IpdkP18X2NV2ZX1TwfSPd45GmYMH+qmt9GNmdW+GNknOV+gPydtY7JGF4WZ55pwyK1ixj1gFbt5QbS637HSV9Gdn0cUG91gW6r7/wtKih+Nly3QG6wxeooPTHUP/z6IMueW5+dTOtctgBgrasURpKJd4mOaSYFKY/fuA5G5nl244j2oDkK2MoORCcZHNcBP+kQfRdnSp5flFpWB0BtK7E4W6SRfBwvNe+Ktal00wGjmih/lxdbgtqHKdhtg5Lh9TaMI+toknX9ZlPDPjvzTTB/CBSkUFSE7+4yGNpozVqWrsH6YUxr9EGAJvia+waOK3nI8yJpuQrVivu1Yh2TPWKwQ42pN5+CsCz0RHX7p1hSZRk4baVJO+mf37kJ9X8VaG+vOXQ== alice@example.org"
    - username: bob
      gecos: "Bob Mock"
      ssh_authorized_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC0HAqZfBitZANvEkewhnXG5cmg1bWCE1PdCw+bghw70rV8NG30pTUk0d3TmRUXjPlYMzYbLFEIaNfOH77f7i0SKzG6nlZcv5pnXRCfT3FsWpLYYTiJL9FsjXNrLsRJb+Q/7Vc0A3+f6DIfl8iyICR5ARq7fGotsddicRAz0/3wawj0+qwjziYuSZggqMFbknIGjA6tQfi5idFpunIBqEyccKIT7hCtUX/oZLUOKSP4RFHIIOh8CABeDssIqtd8Cs9c6j+VuWb74K1TxV9wqA2nRVsmCV4Vbxxo3QeEuBAKtEqyblon9rhkHWTD/RiBcd6ClHaCa+MM8rmd2vjrVPTf4D5yNCXug/qCUjuhJ9nTnqIstG7wQXbdC73dwSb7z7BANdzaoxsPP/Bs3s5K3lO+oCS4rHEm2DY36suQqnCf9ePe01A9jxM2U7xi7ZCK66f/5avcsCcMlkXc0q6O64+F75PCtsb4+HinV4+qtqz3n/46yoMWn1ltB+YWShINiBHFUKQeih2F0Ur7W58V0r4WlGtlgIIC9yrZnoFwHdnjw9UYCZkuO6NMyFEAy7o9WIcmEB5+9Z/th90QH0O+30EG31i5s/tLRg1a5pN7YpzTvKQGddeL9cIBT3bj66L47QZL7II0rmj67Y1PeInW2Ce5wrAcNilqXOHmcLyp22dRpQ== bob@example.org"

# timezone corresponds to a file in Ubuntu's IANA zoneinfo database
# see http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
iana_timezone: US/Eastern

# Path to the private key file (your private key file), which is associated
# with a GitHub account that has access to private repositories.  This defaults
# to '~/.ssh/id_rsa'.  Changing this variable in this file would define an
# organization-wide policy for the private key file name.  If you want to use
# a specific file as an individual user, you can specify it on the command line
# using ansible-playbook's '-e' or '--extra-vars' option.  An easy way to do this
# is to set an alias for the ansible-playbook command, such as:
#   $ alias ansible-playbook='ansible-playbook \
#     -e "github_private_key_path=~/.ssh/id_rsa_github'
# github_private_key_path: ~/.ssh/id_rsa

## The following variables are only relevant if you're using Amazon SES for mail
# ses_user: CHANGEME
# ses_password: CHANGEME

## Likewise, this is only relevant if you're using the aws_postfix role:
# smtp_relayhost_and_port: smtp.example.com:25

# For production and staging:
aws_region: changeme
aws_access_key: changeme
aws_secret_key: changeme

# Not necessary in development:
munin_master_ipaddr: CHANGEME

dpla_locale: en_US.UTF-8
