
# Variables that should apply to all roles, only in the development
# environment.

# Whether to enable various settings that would display diagnostic
# or debugging output (including error messages and stack traces)
# in an HTTP response.
webapp_debug: true

pss_hostname: local.dp.la

# In this development config file, the following api_key corresponds to
# one of the test keys created by `rake v1:recreate_repo_api_key_database`
# in the api app.  This doesn't exist in production, where it gets replaced
# by a real key.
api_key: aa11d0958e93bb25e457a726dc10a40f

admin_notifications_from: addr@example.tld
email_notifications_from: addr@example.tld

twitter_username: changeme
twitter_widget_id: 12345changeme
facebook_account_name: changeme
tumblr_account_name: changeme

google_analytics_property_id: UA-xxxxxxx-1

bigcouch_admin_name: changeme
bigcouch_admin_password: changeme

postgresql_user: {name: "dpla", password: "changeme"}
mysql_root_password: changeme
mysql_users:
  - {name: "dpla_omeka", password: "changeme"}
  - {name: "dpla_wordpress", password: "changeme"}

# You should set these manually in your environment.
# slack_channel: "#channel"
# slack_webhook_url: https://hooks.slack.com/services/XXXXX/YYYYY/ZZZZZZZZ

monitoring_http_port: 8008
siteproxy_port: 8010
