
global
	daemon
	maxconn 1000
	log 127.0.0.1 local1 notice

defaults
	mode http
	log global
	option httplog
	option dontlognull
	option redispatch
	option forwardfor
	retries 3
	balance roundrobin
	timeout connect 5s
	timeout client 50s
	timeout server 5m

{% if loadbalancer_expose_bigcouch %}
### Bigcouch

frontend bigcouch-chttpd-in
	bind *:5984
	default_backend bigcouch-chttpd

frontend bigcouch-httpd-in
	bind *:5986
	default_backend bigcouch-httpd

backend bigcouch-chttpd
	server dbnode1 192.168.50.4:5984 maxconn 500
	server dbnode2 192.168.50.5:5984 maxconn 500

backend bigcouch-httpd
	server dbnode1 192.168.50.4:5986 maxconn 500
	server dbnode2 192.168.50.5:5986 maxconn 500

# ... end Bigcouch
{% endif %}


{% if loadbalancer_expose_frontend %}
### Web

frontend web-http-in
	bind *:80
	default_backend web-http

{% if default_http_scheme == 'https' %}
frontend web-https-in
	bind *:443 ssl crt /etc/ssl/certs/local.dp.la.pem
	mode http
	reqadd X-Forwarded-Proto:\ https
	default_backend web-http
{% endif %}

backend web-http
{% if all_in_one_hosts | default(false) %}
	server {{ inventory_hostname }} {{ hostvars[inventory_hostname][internal_network_interface].ipv4.address }}:{{ siteproxy_port }} maxconn 500
{% else %}
{% for h in groups.site_proxies %}
	server {{ h }} {{ hostvars[h][internal_network_interface].ipv4.address }}:{{ siteproxy_port }} maxconn 500
{% endfor %}
{% endif %}

# ... end Web
{% endif %}


{% if loadbalancer_expose_elasticsearch %}
### Elasticsearch

frontend elasticsearch-in
    bind *:9201
    default_backend elasticsearch

backend elasticsearch
{% for h in groups.elasticsearch %}
    server {{ h }} {{ hostvars[h][internal_network_interface]['ipv4']['address'] }}:9200 maxconn 500
{% endfor %}

# ... end Elasticsearch
{% endif %}


{% if loadbalancer_expose_api %}
### API

frontend api-http-in
{% if default_http_scheme == 'https' %}
	bind *:{{ api_port }} ssl crt /etc/ssl/certs/local.dp.la.pem
	reqadd X-Forwarded-Proto:\ https
{% else %}
	bind *:{{ api_port }}
{% endif %}
	mode http
	default_backend api-http

backend api-http
{% if all_in_one_hosts | default(false) %}
{%    set apihost = inventory_hostname %}
{% else %}
{%    set apihost = groups.api.0 %}
{% endif %}
	server {{ apihost }} {{ hostvars[apihost][internal_network_interface]['ipv4']['address']}}:{{ api_app_port }}

# ... end API
{% endif %}
