---

# Variables that should apply to all roles, only in the production
# level of deployment.


# The network interface to use for generating internal IP addresses
# in various configuration files.  This is usually eth1 in a
# VirtualBox VM, but could be eth0 or another interface on a cloud
# server, depending on the hosting provider and other factors.
# We assume it's the same on all hosts!
internal_network_interface: ansible_eth1


# Whether to enable various settings that would display diagnostic
# or debugging output (including error messages and stack traces)
# in an HTTP response.
webapp_debug: 0

frontend_hostname: dp.la
api_hostname: api.dp.la
# api_port is the port the *loadbalancer* answers on for API requests
api_port: 80

api_key: changeme

exhibitions_app_port: 8000
wordpress_app_port: 8001
frontend_app_port: 8002
# api_app_port is the port the *backend app server* runs on
api_app_port: 8003


# We would normally get an IP address by querying the inventory, but
# this will work easiest between development and production
bigcouch_cluster_loadbal: 192.168.50.2
# same with Elasticsearch ...
es_cluster_loadbal: 192.168.50.2


email_notifications_from: addr@example.tld


twitter_username: changeme
twitter_widget_id: 12345changeme
facebook_account_name: changeme
tumblr_account_name: changeme

google_analytics_property_id: UA-xxxxxxx-1

ruby_rbenv_version: 1.9.3-p547

bigcouch_admin_name: changeme
bigcouch_admin_password: changeme

postgresql_user: {name: "dpla", password: "changeme"}
mysql_root_password: changeme
mysql_users:
  - {name: "dpla_omeka", password: "changeme"}
  - {name: "dpla_wordpress", password: "changeme"}
