---

# Variables that should apply to all roles, only in the staging
# level of deployment.


# The network interface to use for generating internal IP addresses
# in various configuration files.  This is usually eth1 in a
# VirtualBox VM, but could be eth0 or another interface on a cloud
# server, depending on the hosting provider and other factors.
# We assume it's the same on all hosts!
internal_network_interface: ansible_eth1


# Whether to enable various settings that would display diagnostic
# or debugging output (including error messages and stack traces)
# in an HTTP response.
webapp_debug: false

frontend_hostname: staging.dp.la
api_hostname: api.staging.dp.la
# api_port is the port the *loadbalancer* answers on for API requests
api_port: 80

# In this development config file, the following api_key corresponds to
# one of the test keys created by `rake v1:recreate_repo_api_key_database`
# in the api app.  This doesn't exist in production, where it gets replaced
# by a real key.
api_key: aa11d0958e93bb25e457a726dc10a40f

exhibitions_app_port: 8000
wordpress_app_port: 8001
frontend_app_port: 8002
# api_app_port is the port the *backend app server* runs on
api_app_port: 8003


# We would normally get an IP address by querying the inventory, but
# this will work easiest between development and production.
# *_cluster_loadbal is the internal-network hostname
# *_elb_name is the ELB name property, for staging and production only
bigcouch_cluster_loadbal: 192.168.50.2
bigcouch_elb_name: repo-lbal-stg
es_cluster_loadbal: 192.168.50.2
es_elb_name: search-lbal-stg
api_elb_name: api-lbal-stg
siteproxy_elb_name: siteproxy-lbal-stg


email_notifications_from: addr@example.tld

postgresql_user: {name: "dpla", password: "changeme"}
mysql_root_password: changeme
mysql_users:
  - {name: "dpla_omeka", password: "changeme"}
  - {name: "dpla_wordpress", password: "changeme"}


twitter_username: changeme
twitter_widget_id: 12345changeme
facebook_account_name: changeme
tumblr_account_name: changeme

google_analytics_property_id: UA-xxxxxxx-1

ruby_rbenv_version: 1.9.3-p547

bigcouch_admin_name: changeme
bigcouch_admin_password: changeme

