LANG="{{ dpla_locale }}"
LC_CTYPE="{{ dpla_locale }}"
LC_NUMERIC="{{ dpla_locale }}"
LC_TIME="{{ dpla_locale }}"
LC_COLLATE="{{ dpla_locale }}"
LC_MONETARY="{{ dpla_locale }}"
LC_MESSAGES="{{ dpla_locale }}"
LC_PAPER="{{ dpla_locale }}"
LC_NAME="{{ dpla_locale }}"
LC_ADDRESS="{{ dpla_locale }}"
LC_TELEPHONE="{{ dpla_locale }}"
LC_MEASUREMENT="{{ dpla_locale }}"
LC_IDENTIFICATION="{{ dpla_locale }}"
