<!DOCTYPE html>
<html>
<head>
  <title>Temporarily Unavailable - DPLA</title>
</head>
<body>
  <img src="/assets/dpla-logo.png"/>
  <h1>Temporarily Unavailable</h2>
  <p>{{ siteproxy_503_message }}</p>
</body>
</html>
