
# proxy configs
proxy_cache_path  /var/cache/nginx  levels=1:2   keys_zone=staticfilecache:360m  max_size=10000m;
proxy_temp_path /var/spool/nginx;
proxy_cache_key       "$scheme://$host$request_uri";
proxy_cache         staticfilecache;
proxy_connect_timeout 5;
proxy_read_timeout    120;
proxy_send_timeout    120;
proxy_redirect      off;
# this causes issues with file cache - disabling :: jsd
#proxy_buffering     off;

# disable gzip for nagios checks
gzip_disable "nagios-plugins";

# use stale while updating, use next backend if error
proxy_cache_use_stale updating;
proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;

# allows backend to see real ip
proxy_set_header    Host            $host;
proxy_set_header    X-Real-IP       $remote_addr;
proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;

# allows us to check the page's cache status
add_header X-Cache-Status $upstream_cache_status;

# adding a header cache_bypass:true will invalidate and recache a specific page
proxy_cache_bypass        $http_cache_bypass $cookie__dpla_no_cache $do_not_cache;
proxy_no_cache            $http_cache_bypass $cookie__dpla_no_cache $do_not_cache;

# Need to set up a map of this size.
map_hash_bucket_size 128;
map $http_user_agent $bad_bot{
    default     0;
    "Mozilla/4.0 (compatible; ICS)"     1;
    "Mozilla/4.0"       1;
    "Mozilla/5.0"       1;
    "Mozilla/4.0 (compatible; MSIE 5.01; Windows NT 5.0)"   1;
    "Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1)"    1;
    "Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1)"   1;
    "Mozilla/4.0 (compatible;)"     1;
    "Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US; rv:1.9)"   1;
    "Mozilla/4.0 (compatible; MSIE 5.5; Windows 98)"    1;
    "Mozilla/4.0 (compatible; MSIE 5.0; Windows 98)"    1;
    "Mozilla/4.0 (compatible; MSIE 6.0; Windows 98)"    1;
    "Mozilla/5.0 Firefox/3.0.5"     1;
    "Mozilla/3.0 (compatible)"  1;
    "Mozilla/2.0 (compatible)"  1;
    "Mozilla/4.0 (compatible; MSIE 6.0; MSIE 5.5; Windows NT 4.0) Opera 7.0 [en]"   1;
    "Opera"     1;
    "-"         1;
    "0"         1;
    "Mozilla/5.0 (compatible; SiteBot/0.1; +http://www.sitebot.org/robot/)"     1;
}

map $http_content_type $do_not_cache {
    default         0;  
    "application/json"      1;  
}

# Addresses that are not subject to rate or connection limiting
geo $whitelisted {
    default 1;
    127.0.0.1/32 0;
}

map $whitelisted $addr_to_limit {
    1 $binary_remote_addr;
    0 "";
}

# Default connection and request zones.
# See above for definition of $addr_to_limit.
# For memory usage explanation, see:
#  http://nginx.org/en/docs/http/ngx_http_limit_conn_module.html#limit_conn_zone
limit_conn_zone $addr_to_limit zone=defaultconnzone:{{ siteproxy_nginx_conn_zone_size }};
limit_req_zone  $addr_to_limit zone=defaultreqzone:{{ siteproxy_nginx_req_zone_size }} rate={{ siteproxy_nginx_default_req_rate }};

# Connection and request zones for locations defined below.
limit_req_zone $addr_to_limit zone=bookshelfreq:{{ siteproxy_bookshelf_req_zone_size }} rate={{ siteproxy_bookshelf_req_rate }};
limit_conn_zone $addr_to_limit zone=bookshelfconn:{{ siteproxy_bookshelf_conn_zone_size }};

# Connection and rate-limiting log levels
limit_conn_log_level {{ siteproxy_nginx_limit_conn_log_level }};
limit_req_log_level {{ siteproxy_nginx_limit_req_log_level }};

{% if groups['cms'] is defined %}
### CMS group

# Wordpress servers
upstream dpla_wp {
{% for h in groups['wordpress'] %}
    server {{ hostvars[h][internal_network_interface]['ipv4']['address'] }}:{{ wordpress_app_port }} fail_timeout=120s;  # {{ h }}
{% endfor %}
}

# Exhibitions servers
upstream dpla_omeka {
{% for h in groups['exhibitions'] %}
    server {{ hostvars[h][internal_network_interface]['ipv4']['address'] }}:{{ exhibitions_app_port }} fail_timeout=120s;  # {{ h }}
{% endfor %}
}

# Primary Source Sets servers
upstream dpla_pss {
{% for h in groups['pss'] %}
    server {{ hostvars[h][internal_network_interface]['ipv4']['address'] }}:{{ pss_app_port }} fail_timeout=120s;  # {{ h }}
{% endfor %}
}

{% endif %}

# Frontend (portal) servers
upstream dpla_portal {
{% for h in groups['frontend'] %}
    server {{ hostvars[h][internal_network_interface]['ipv4']['address'] }}:{{ frontend_app_port }} fail_timeout=120s;  # {{ h }}
{% endfor %}
}

# Old wiki
upstream dpla_berkman {
  server 128.103.64.94:80 weight=1 fail_timeout=120s;
}

server {

    listen   80 default;
    listen   [::]:80 default ipv6only=on;

    server_name {{ frontend_hostname }};
  
    # Bad bot!
    if ( $bad_bot = 1 ) {
        return 403;
    }

    set $do_not_cache 0;

{% for addr in nginx_real_ip_from_addrs %}
    set_real_ip_from {{ addr }};
{% endfor %}
    real_ip_header X-Forwarded-For;

    location / {

        proxy_cache_valid 200 240m;

        # Ignore cache-disabling headers set by the portal app
        proxy_ignore_headers Cache-Control Set-Cookie;

        # Up to 10 simultaneous page requests per IP 
        limit_conn defaultconnzone {{ siteproxy_nginx_default_max_conn }};
        # Up to 20 requests / sec for pages.
        limit_req zone=defaultreqzone burst={{ siteproxy_nginx_default_req_burst }};
    
        proxy_pass          http://dpla_portal;

        # robots.txt
        location ~ ^/robots.txt$ {
            alias /srv/www/robots.txt;
        }

        location ~* \.(jpg|png|gif|jpeg|css|js|mp3|wav|swf|mov|doc|pdf|xls|ppt|docx|pptx|xlsx)$ {
            # Cache static-looking files for 120 minutes, setting a 10 day expiry time.
            proxy_cache_valid 200 360m;
            expires 864000;
            proxy_pass http://dpla_portal;
        }

        # misc rewrites in the top level dir
        rewrite ^/reps /info/get-involved/reps last;
        rewrite ^/about/map /info/map last;
        rewrite ^/about/schema /info/schema last;
        rewrite ^/platform /info/developers/codex last;
        rewrite ^/education /info/education last;
        rewrite ^/lists(.*)$ http://lists.dp.la$1 last;
        {% if sitemap_host is defined %}
        rewrite ^/sitemap.xml$ http://{{ sitemap_host }}/all_item_urls.xml last;
        {% endif %}
    }

    location = /bookshelf {
        # Any proxy-related directives must appear here although they may seem
        # redundant with `location /` above.
        proxy_cache off;
        # TODO:  consider selective caching, but watch out for Content-Type
        # proxy_cache_valid 200 240m;
        # proxy_ignore_headers Cache-Control Set-Cookie;
        # proxy_cache_key       "$request_uri$http_content_type";
        proxy_pass http://dpla_portal;

        limit_req zone=bookshelfreq burst={{ siteproxy_nginx_default_req_burst }};
        limit_conn bookshelfconn {{ siteproxy_bookshelf_max_conn }};
    }

    location ~ ^/api/(.*)$ {
         add_header 'Access-Control-Allow-Origin' '*';
         rewrite ^/api/(.*)$ http://{{ api_hostname }}/$1 last;
    }

    location ~ ^/donate(/?|/.*)$ {
        rewrite ^/donate(/?|/.*)$ http://{{ frontend_hostname }}/info/donate$1 last;
    }

{% if groups['cms'] is defined %}
    location /info {
        proxy_cache_valid 200 240m;
        proxy_cache_bypass        $http_cache_bypass $cookie_wordpress_logged_in;
        proxy_no_cache            $http_cache_bypass $cookie_wordpress_logged_in;

        # Up to 10 simultaneous page requests per IP
        limit_conn defaultconnzone {{ siteproxy_nginx_default_max_conn }};
        # Up to 20 requests / sec for pages.
        limit_req zone=defaultreqzone burst={{ siteproxy_nginx_default_req_burst }};
        if ($http_cookie ~* "comment_author_|wordpress_(?!test_cookie)|wp-postpass_" ) {
            set $do_not_cache 1;
        }

        proxy_cache_key     "$scheme://$host$request_uri $do_not_cache";
        proxy_pass          http://dpla_wp;

        # 502 and 504 errors are usually going to be the result of Nginx on the
        # content management server being offline for a reboot, so return a
        # 503.
        error_page 502 503 504 =503 /503.html;

        # For client_max_body_size, see the Wordpress role's NGINX virtual host
        # configuration.
        # (ansible/roles/wordpress/templates/etc_nginx_sites_available_wordpress.j2)
        client_max_body_size 50m;

        # misc rewrites in the top level dir
        #
        rewrite ^/info/get-involved/forums /info/forums permanent;
        rewrite ^/info/about/org /info/about/policies permanent;

        # static files 
        location ~* \.(jpg|png|gif|jpeg|css|js|mp3|wav|swf|mov|doc|pdf|xls|ppt|docx|pptx|xlsx)$ {
            # Cache static-looking files for 120 minutes, setting a 10 day expiry time.
            # Do not cache for logged-in users.
            proxy_cache_valid 200 360m;
            expires 864000;
            if ($http_cookie ~* "comment_author_|wordpress_(?!test_cookie)|wp-postpass_" ) {
                set $do_not_cache 1;
            }
            proxy_cache_key     "$scheme://$host$request_uri $do_not_cache";
            proxy_pass http://dpla_wp;
        }

        rewrite /wp-admin$ $scheme://$host$uri/ permanent;
        location ~* wp\-.*\.php|wp\-admin {
            proxy_pass http://dpla_wp;
        }

        location ~* test\.php {
            # Cache for non-logged-in users.
            if ($http_cookie ~* "comment_author_|wordpress_(?!test_cookie)|wp-postpass_" ) {
                set $do_not_cache 1;
            }
            proxy_cache_key     "$scheme://$host$request_uri $do_not_cache";
            proxy_cache staticfilecache;
        }

        location ~* \/[^\/]+\/(feed|\.xml)\/? {
            proxy_cache_valid 200 240m;
            limit_conn defaultconnzone 3;
            limit_req zone=defaultreqzone burst={{ siteproxy_nginx_default_req_burst }};
            if ($http_cookie ~* "comment_author_|wordpress_(?!test_cookie)|wp-postpass_" ) {
                set $do_not_cache 1;
            }
            proxy_cache_key     "$scheme://$host$request_uri $do_not_cache";
            proxy_cache_valid 200 240m;
            proxy_pass http://dpla_wp;
        }

        location ~* ^\/(apc|phpinfo)\.php {
            access_log off;
            allow 127.0.0.1;
            deny all;
            proxy_pass http://dpla_wp;
        }

    }

    location /exhibitions {

        proxy_pass          http://dpla_omeka;

        # Do not cache HTML, but cache static files
        proxy_cache off;
        location ~* \.(css|doc|docx|flv|gif|htm|ico|jpeg|jpg|js|m4v|mov|mp3|mp4|pdf|png|ppt|pptx|swf|svg|svgz|tif|ttf|wav|xls|xlsx)$ {
            proxy_cache_valid 200 360m;
            expires 864000;
            proxy_pass http://dpla_omeka;
        }

        # Up to 10 simultaneous page requests per IP
        limit_conn defaultconnzone {{ siteproxy_nginx_default_max_conn }};
        # Up to 20 requests / sec for pages.
        limit_req zone=defaultreqzone burst={{ siteproxy_nginx_default_req_burst }};

        # For client_max_body_size, see the Omeka role's NGINX virtual host
        # configuration.
        # (ansible/roles/omeka/templates/etc_nginx_sites_available_omeka.j2)
        client_max_body_size 50M;

        # See above, in /info.
        error_page 502 503 504 =503 /503.html;

        # misc rewrites in the /exhibitions dir
        #
        rewrite ^/exhibitions/(activism|boston-sports-temples|history-of-survivance|this-land|new-deal|breadandroses|spirits) /exhibitions/exhibits/show/$1 permanent;

    }

    location /primary-source-sets {

        proxy_pass http://dpla_pss;
        proxy_cache off;

        location ~* \.(css|png|js|jpe?g|ico|mov|mp3|mp4|pdf)$ {
            proxy_cache_valid 200 360m;
            expires 864000;
            proxy_pass http://dpla_pss;
        }

        # Up to 10 simultaneous page requests per IP
        limit_conn defaultconnzone {{ siteproxy_nginx_default_max_conn }};
        # Up to 20 requests / sec for pages.
        limit_req zone=defaultreqzone burst={{ siteproxy_nginx_default_req_burst }};

        # For client_max_body_size, see the pss role's NGINX virtual host
        # configuration.
        # (ansible/roles/pss/templates/etc_nginx_sites_available_omeka.j2)
        client_max_body_size 50M;

    }

{% endif %}

    location /wiki {
        proxy_set_header Host dev.dp.la;     
        sub_filter dev.dp.la 'dp.la';
        sub_filter_once off;
        proxy_pass http://dpla_berkman/wiki;
     }

    location ~ /\.ht {
        deny  all;
    }

    location /503.html {
        root /var/www;
    }

}

server {
    listen 80;
    server_name www.{{ frontend_hostname }};
    location / {
        rewrite ^(.*)$ http://{{ frontend_hostname }}$1 permanent;
    }
}
