postmaster:     {{ admin_notifications_from }}
ubuntu:         {{ admin_notifications_from }}
www-data:       {{ admin_notifications_from }}
munin:          {{ admin_notifications_from }}
dpla:           {{ admin_notifications_from }}
root:           {{ admin_notifications_from }}
